<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galderma FAS</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="contentToPrint" class="wrapper">
        <div class="assessment">
            <img src="img/image1.png" class="img" />
            <div class="content">
                <p class="a">A</p>
                <p class="assess">Assessment</p>
                <p class="body">Start from your patients’ concerns and assess their needs accurately with the Galderma Facial Assessment Scale (FAS). Made of five facets, the FAS ensures that all aspects of the patient’s face are evaluated during the consultation.
                </p>
                <ul class="list">
                    <li>SKIN QUALITY</li>
                    <li>FACIAL SHAPE</li>
                    <li>FACIAL PROPORTION & CONTOUR</li>
                    <li>FACIAL SYMMETRY</li>
                    <li>ANIMATION & EMOTIONAL EXPRESSION</li>
                </ul>
                <p class="body">These five facets can be graded to identify treatment priorities that can be visualised by the patient.</p>
                <div class="ImgTxt sB">
                    <img src="img/image2.png" alt="fas" width="75" />
                    <a href="#fas">Click to go to the Galderma Facial Assessment Scale (FAS)</a>
                </div>
            </div>
        </div>
        <div class="consultation">
            <div class="title sB">The Patient Consultation Process</div>
            <div class="process-container">
            <div class="process">
                <div class="header"><p class="sB">Befor consultation</p></div>
                <div class="steps">
                    <div>
                        <img src="img/pen.png" />
                        <div>
                            <span>1.</span>
                            <p>Share the pre-consultation questionnaire with your patient to fill in.</p>
                        </div>
                        <a class="download" href=""><img src="img/download.png" />Download PDF Questionnaire</a>
                    </div>
                    <div>
                        <img src="img/search.png" />
                        <div><span>2.</span><p>Analyse the pre-consultation questionnaire.</p></div>
                    </div>
                </div>
            </div>
            <div class="process">
                <div class="header"><p class="sB">During consultation</p></div>
                <div class="steps">
                    <div>
                        <img src="img/fas.png" />
                        <div>
                            <span>3.</span>
                            <p>Fill out the Facial Assessment Scale together with your patient. Scroll down to access the digital FAS.</p>
                        </div>
                        <a class="download" href=""><img src="img/download.png" />Download PDF FAS for offline use</a>
                    </div>
                    <div>
                        <img src="img/hit.png" style="height: 24px;      margin-top: 6px;" />
                        <div style="margin-top:24px;">
                            <span>4.</span>
                            <p>Develop a treatment plan by selecting suitable products from the Galderma Portfolio to create a Holistic Individualised Treatment (HIT).
                            </p>
                         </div>
                         <a class="download" href=""><img src="img/download.png" />Download PDF
                            HIT™ Brochure</a>
                    </div>
                </div>
            </div>
            <div class="process">
                <div class="header"><p class="sB">After consultation</p></div>
                <div class="steps">
                    <div>
                        <img src="img/note.png" />
                        <div>
                            <span>5.</span>
                            <p>Share the treatment
                            plan with your patient after the consultation.Scroll down to access the digital treatment plan.
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="img/face.png" />
                        <div>
                            <span>6.</span>
                            <p>Treat and follow-up using the information gathered prior and during consultation.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="facets">
            <div class="title sB">The Five Facets of Facial Assessment</div>
            <div class="facets-container">
                <div class="hex">
                    <div class="hex-content">
                        <p class="hex-title sB">Skin quality</p>
                        <p class="hext-txt sL">Good skin quality is a key component of beauty and is assessed for loss of radiance/glow and firmness</p>
                        <div>
                            <img src="img/face1.png"/>
                            <img src="img/face2.png"/>
                        </div>
                        <div class="popup_main">
                            <img src="img/plus.png" class="plus open_popup" />
                            <div class="popup_body">
                              <div class="popup_back"></div>
                                <div class="popup_contain">
                                  <div class="popup_close">x</div>
                                  <div class="popup-content">
                                    <img src="img/skin_quality_2x.jpg" class="popup-img" />
                                  </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="hex">
                    <div class="hex-content">
                        <p class="hex-title sB">Facial shape</p>
                        <p class="hext-txt sL">Age-related changes in facial shape caused by loss of structural support lead to volume loss and sagging.1 </p>
                        <div>
                            <img src="img/face3.png"/>
                            <img src="img/face4.png"/>
                        </div>
                        <div class="popup_main">
                            <img src="img/plus.png" class="plus open_popup" />
                            <div class="popup_body">
                              <div class="popup_back"></div>
                                <div class="popup_contain">
                                  <div class="popup_close">x</div>
                                  <div class="popup-content">
                                    <img src="img/facial_shape_2x.jpg" class="popup-img" />
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex">
                    <div class="hex-content">
                        <p class="hex-title sB">Facial proportion 
                            and contour</p>
                        <p class="hext-txt sL">Proportions and contours are influenced by the size and projection of facial features.2 Evaluate facial angles to identify imbalance.</p>
                        <div>
                            <img src="img/face5.png"/>
                            <img src="img/face6.png"/>
                        </div>
                        <div class="popup_main">
                            <img src="img/plus.png" class="plus open_popup" />
                            <div class="popup_body">
                              <div class="popup_back"></div>
                                <div class="popup_contain">
                                  <div class="popup_close">x</div>
                                  <div class="popup-content">
                                    <img src="img/facial_proportions_2x.jpg" class="popup-img" />
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex">
                    <div class="hex-content">
                        <p class="hex-title sB">Facial symmetry</p>
                        <p class="hext-txt sL">Perfect facial symmetry rarely occurs. Asymmetry should be recognised before injectable treatments are administered.</p>
                        <div>
                            <img src="img/face7.png"/>
                            <img src="img/face8.png"/>
                        </div>
                        <div class="popup_main">
                            <img src="img/plus.png" class="plus open_popup" />
                            <div class="popup_body">
                              <div class="popup_back"></div>
                                <div class="popup_contain">
                                  <div class="popup_close">x</div>
                                  <div class="popup-content">
                                    <img src="img/symmetry_2x.jpg" class="popup-img" />
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex">
                    <div class="hex-content">
                        <p class="hex-title sB">Animation and emotional expression</p>
                        <p class="hext-txt sL">Animation and emotional expression can be assessed by examining the presence of static and dynamic lines.  </p>
                        <div>
                            <img src="img/face9.png"/>
                            <img src="img/face10.png"/>
                        </div>
                        <div class="popup_main">
                            <img src="img/plus.png" class="plus open_popup" />
                            <div class="popup_body">
                              <div class="popup_back"></div>
                                <div class="popup_contain">
                                  <div class="popup_close">x</div>
                                  <div class="popup-content">
                                    <img src="img/expression_2x.jpg" class="popup-img" />
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="small-txt">1. Farkas JP, et al. Plast Reconstr Surg Glob Open 2013;1(1):e8–15. 2. Milutinovic J, et al. Sci World  J 2014; DOI: 10.1155/2014/428250.</p>
        </div>
        <div class="fas">
            <div class="title sB">Galderma Facial Assessment Scale (FAS)</div>
            <form class="fas-form">
                <div>
                    <input type="text" class="input" id="pname" name="pname" />
                    <label class="sB" for="pname">PATIENT NAME</label>
                </div>
                <div>
                    <input type="text" class="input" id="contact" name="contact" />
                    <label class="sB" for="contact">CLINIC CONTACT</label>
                </div>
                <div>
                    <input type="date" class="input" id="date" name="date" />
                    <label class="sB" for="date">DATE</label>
                </div>
            </form> 
            <div class="fas-content">
                <div class="fas-use">
                    <p>How to use the Facial Assessment Scale</p>
                    <p>With your patient, grade the five facets of facial assessment according to the Severity Evaluation Scale below</p>
                    <img src="img/evaluation-scale.png" />
                    <img src="img/fas-use.png" />
                </div>
                <div id="fas" class="fas-tool"></div>
                <div class="evaluation"></div>
            </div>
        </div>
        <div class="fas-notes">
            <div class="title sB">Facial Assessment Notes</div>
            <div class="fas-notes-container">
                <div>
                    <img src="img/image2.png" />
                    <a href="#fas" class="sB">Back to FAS</a>
                </div>
                <div>
                    <form>
                        <div class="flex">
                            <div>
                                <img src="img/face1.png" />
                                <img src="img/face2.png" />
                            </div>
                            <div class="fas-notes-form-fields">
                                <label class="sB">Skin quality</label>
                                <textarea class="textarea" placeholder="Enter patient notes here"></textarea>
                            </div>
                        </div>
                        <div class="flex">
                            <div>
                                <img src="img/face3.png" />
                                <img src="img/face4.png" />
                            </div>
                            <div class="fas-notes-form-fields">
                                <label class="sB">Facial shape</label>
                                <textarea class="textarea" placeholder="Enter patient notes here"></textarea>
                            </div>
                        </div>
                        <div class="flex">
                            <div>
                                <img src="img/face5.png" />
                                <img src="img/face6.png" />
                            </div>
                            <div class="fas-notes-form-fields">
                                <label class="sB">Facial proportion and contour</label>
                                <textarea class="textarea" placeholder="Enter patient notes here"></textarea>
                            </div>
                        </div>
                        <div class="flex">
                            <div>
                                <img src="img/face7.png" />
                                <img src="img/face8.png" />
                            </div>
                            <div class="fas-notes-form-fields">
                                <label class="sB">Facial symmetry </label>
                                <textarea class="textarea" placeholder="Enter patient notes here"></textarea>
                            </div>
                        </div>
                        <div class="flex">
                            <div>
                                <img src="img/face9.png" />
                                <img src="img/face10.png" />
                            </div>
                            <div class="fas-notes-form-fields">
                                <label class="sB">Animation and emotional expression</label>
                                <textarea class="textarea" placeholder="Enter patient notes here"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="treatment-plan">
            <div class="title sB">Treatment Plan</div>
            <div class="fas-notes-container">
                <div>
                    <img src="img/image2.png" />
                    <a href="#fas" class="sB">Back to FAS</a>
                </div>
                <div>
                    <div class="grid-plan">
                        <p>DATE/FREQUENCY</p>
                        <p>AREA</p>
                        <p>TREATMENT</p>
                        <p>COST GUIDE</p>
                    </div>
                    <div class="grid-plan">
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                    </div>
                    <div class="grid-plan">
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                    </div>
                    <div class="grid-plan">
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                    </div>
                    <div class="grid-plan">
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                    </div>
                    <div class="grid-plan">
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                        <input type="text" class="input" />
                    </div>
                    <div class="notes">
                        <p class="sB">Notes</p>
                        <textarea class="textarea"></textarea>
                    </div>
                    <div class="download-container">
                        <div class="btn-container">
                            <div class="grid-container">
                                <button class="btn-download"></button>
                                <p>Download a PDF of the results of the Facial Assessment and Treatment Plan.</p>
                            </div>
                            <div class="grid-container">
                                <button class="btn-email"></button>
                                <p>After downloading the PDF you can email a record to your patient. </p>
                            </div>
                        </div>
                        <div>
                            <button class="btn-start" style="width: 180px;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hit-container">
            <img src="img/hit-big.png" />
            <p>The Facial Assessment Scale assists you to develop a Holistic Individualised Treatment (HIT) plan with your patient. 
            </p>
            <a>Learn more about HITs here</a>
            <p>Galderma Australia Pty Ltd, Level 18, 1 Denison St, North Sydney, NSW, 2060. ABN 12 003 976 930. Distributed in NZ by Healthcare Logistics, 58 Richard Pearse Drive, Airport Oaks, Mangere 2022, NZ. Phone: 1800 144 944 (AUS), 0800 174 104 (NZ). Fax: +61 (2) 9986 1699. Dysport Sponsor: Ipsen Pty Ltd, Level 2, Building 4, Brandon Office Park, 540 Springvale Road, Glen Waverley, Victoria 3150 Australia. Distributed by Galderma Australia Pty Ltd for the glabellar lines and lateral canthal lines indications only. Dysport® is a registered trademark of Ipsen Pty Ltd.  Restylane, Sculptra and Galderma are registered trademarks of Galderma Holding S.A. ANZ-GAI-2200055. TAPS Approval No: NP18772. December 2022.</p>
        </div>
        <canvas id="canvas" width="200" height="200"></canvas>
    </div>


	<button onclick="downloadPDF();">Convert HTML to PDF</button>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script src="script/modal.js"></script>
    <script src="script/html2canvas.min.js"></script>
	<script src="script/jspdf.umd.js"></script>
<script>
window.jsPDF = window.jspdf.jsPDF;


function downloadPDF() {
	var doc = new jsPDF();
	console.log("rendering pdf");
	var elementHTML = document.querySelector("#contentToPrint");

	doc.html(elementHTML, {
		callback: function(doc) {
            console.log("render complete");
			doc.save('document-html.pdf');
		},
		autoPaging: 'text',
		x: 0,
		y: 0,
		width: 190,
		windowWidth: 1200
	});
}
</script>
</body>
</html>
